<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Terms Of Service</title>
</head>
<body>
    <header>
        <h1>FreshCuts</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a> </li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/tos">TOS</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Our Terms Of Service</h2>

        <div class="about">
            <h3>Privacy Policy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur aut debitis ea fugit illum ipsum iste magni molestias repellat sunt suscipit tempora temporibus totam veniam vitae voluptatibus. Inventore, veniam!</p>
        </div>


    <footer>
        &copy; 2023 FreshCuts. All rights reserved.
    </footer>
</body>
</html>
